<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<bean id ="DAO" class="DAO.DaoImpl"></bean> //@component
    <bean id="Metier" class="Metier.metierImpl">
       <!-- <property name="dao" ref="DAO"></property>-->
        <constructor-arg ref="DAO"></constructor-arg>
    </bean>
</beans>